<h1>To Do List!</h1>
    <h2>Matching Items:</h2>
    <ol>
      <% matching_ideas.each do |idea| %>
        <li>
          <b>Title: </b><%= idea.title %><br>
          <b>Description: </b><%= idea.description %><br/>
          <b>Tags: </b><%= idea.tags %><br/>
          <b>Files: </b><%= idea.uploads %><br/>
          <b>Group: </b><%= idea.group %><br/>
          <form action='/<%= idea.id %>/like' method='POST' style="display: inline">
            <button type='/<%= idea.id %>/like' class="btn btn-primary" style="display: inline">Like!</button>
            <span class="badge badge-success"><%= idea.votes %></span>
          </form>
          <form action='/<%= idea.id %>/edit' method='GET' style="display: inline">
            <button type='/<%= idea.id %>/edit' class="btn btn-primary" style="display: inline">Edit</button>
          </form>
          <form action="/<%= idea.id %>" method="POST" style="display: inline">
            <input type="hidden" name="_method" value="DELETE">
            <button type='/<%= idea.id %>/delete' class="btn btn-primary" style="display: inline">Delete</button>
          </form>
        </li>
      <% end %>
    </ol>
